name: scrape website

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *" #  every day at 1am (around 6am mauritian time)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v3

      - name: setup python with pip cache
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: "pip" # caching pip dependencies

      - name: navigate to backend folder
        run: cd backend

      - name: install any new python dependencies
        run: pip install -r requirements.txt

      - name: install  web dependencies for creating website
        run: npm install

      - name: execute py script
        env:
          SAK_MAIN_DB: ${{ secrets.SAK_MAIN_DB  }}
          SAK_STATS_DB: ${{ secrets.SAK_STATS_DB  }}
        run: python src/main.py

      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          timestamp=$(date -u)
          git diff-index --quiet HEAD || (git commit -a -m "Last update : ${timestamp}" --allow-empty)

      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
